.allure
.idea
target
/tests-common/target
/acceptance-tests/target
/acceptance-tests/testng.xml

/acceptance-tests/.allure
/acceptance-tests/allure-results

/tests-common/.allure
/tests-common/allure-results